@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Task Management System</h1>
    
</div>
<div>
<a asp-controller="ProjectHelper" class="btn btn-outline-success">Project Helper</a>
</div>
<br/>
<div>
<a asp-controller="UserManager" class="btn btn-outline-success">UserManager Helper</a>
</div>
<br/>
<div>
<a asp-controller="Developer" class="btn btn-outline-success">Developer Page</a>
</div>
<div>
<a asp-controller="TaskHelper" class="btn btn-outline-success">Task Helper</a>
</div>