@model TaskManagementSystem_FinalProject.Models.Notification

@{
    ViewData["Title"] = "UrgentNote";
}

<h1>UrgentNote</h1>

<h4>Notification</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UrgentNote">
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input name="description" class="form-control" />
            </div>
                <input name="userId" class ="form-control" value=@ViewBag.AppUserId type="hidden">
        
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

